
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartMonitor</title>
</head>
<body>
<div>
    <p>@ViewBag.Mess</p>
    <a href="/Just/Index">dthyenmcz</a>
</div>
</body>
</html>
